body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
}

/* body {
    background-image: url('honeycombBackground.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
} */