@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', sans-serif;
    
}

body, html
{
    display: flex;
    min-height: 100vh;
    margin: 0;
    background: url('../Images/honey.png');
    background-size: cover;
    background-position: center;
}

main {
    flex: 1;
}
footer {
    position: sticky;
    bottom: 0;
}

.navigation a
{
    position: relative;
    align-items: center;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 450;
    margin-left: 40px;
    margin-right: 40px;
}

form button
{
    /* background: rgba(169, 109, 173); */
    padding: 10px 90px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 500;
}

/* header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo
{
    font-size: 2em;
    color: #fff;
    user-select: none;
}



.navigation a::after
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .4s;
}

.navigation a:hover::after
{
    transform-origin: right;
    transform: scaleX(1);
}

.navigation .popup_button
{
    width: 150px;
    height: 60px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .popup_button:hover
{
    background: #fff;
    color: #f4c2c2;
}

.container
{
    position: absolute;
    width: 900px;
    height: 500px;
    justify-content: center;
    align-items: center;
}

h1
{
    color: rgba(169, 109, 173, .5);
}

.container .create-post-form
{
    width: 100%;
    padding: 50px;
}

.container .form-box.text
{
    transition: transform .18s ease;
    transform: translateX(0);
}

.container.active .form-box.text
{
    transition: none;
    transform: translateX(-400px);
}

.form-box h2
{
    font-size: 2em;
    color: rgba(169, 109, 173, .5);
    text-align: center;
}

.profile-box
{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 3px solid rgba(169, 109, 173, .5);
    margin: 30px 0;
}

.profile-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: rgba(169, 109, 173);
    font-weight: 400;
    pointer-events: none;
    transition: .4s;
}

.profile-box input:focus~label,
.profile-box input:valid~label
{
    top: -2px;
}

.profile-box input 
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgba(169, 109, 173, .5);
    font-weight: 600;
}

.profile-box .ion-icon 
{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:rgba(169, 109, 173);
    line-height: 57px;
}*/